input {
    width: 120px;
    height: 80px;
    font-size: 55px;
    border-radius: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;

}

form {
    text-align: center;
    margin: 0 30%;
}

#answerSpace {
    background-color: cyan;
    color: black;
    width: 550px;
    max-width: 580px;
    text-align: center;
}

#a {
    background-color: rgb(0, 47, 255);

}

#s {
    background-color:  rgb(0, 31, 172);

}

#m {
    background-color:  rgb(0, 26, 139);

}

#d {
    background-color: rgb(0, 14, 75);

}

#c {
    background-color: rgb(240, 68, 68);

}

#e {
    background-color: rgb(90, 209, 90);

}
h1 {
    margin: 0;
    text-align: center;
    font-size: 50px;

}